* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bLHUWq{
  padding-top: 50px;
}
.loading {
  position: absolute;
  z-index: 8999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--page-bgColor);
  overflow: hidden;
}

.loading img {
  width: 60px;
}

:root {
  --page-bgColor: #fff;
}

.dark {
  --page-bgColor: #000;
}

